$light-brown: #AD7652;
$cream: #EED4A4;
$dark-brown: #64432F;
$pink: #F723A0;
$blue: #2373F7;

body {
  background-color: $cream;
}

#topbanner {
  background-color: $light-brown;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  color: #444141;
  width: 100%;
  display: block;
  position: fixed;
  z-index: 10;
  top: 0;
  padding: 2px;
  margin-bottom: 0px;
  a {
    color: $dark-brown;
  }
  a:hover {
    color: white;
  }
}

.container {
  font-family: 'Lobster', cursive;
  margin-top: 5%;
  z-index: 1;
  .search-section {
    height: auto;
    position: fixed;
    width: 30%;
  }
  #search-form {
    font-family: 'Libre Baskerville', serif;
  }
  #doctor-results {
    margin-top: 50px;
    h3 {
      font-weight: bold;
    }
    #found-doctors {
      font-family: 'Libre Baskerville', serif;
      .doctor-entry {
        margin-bottom: 10%;
      }
      .doctor-bold, .doctor-name {
        font-weight: bold;
      }
      .doctor-name {
        font-size: 120%;
      }
      .doctor-picture {
        float: right;
      }
      .fa-female {
        color: $pink;
      }
      .fa-male {
        color: $blue;
      }
    }
  }
}
